<table class="table table-bordered  table-responsive m-2">
  <thead>
    <th>ACCIONES</th>
    <th>CEDULA</th>
    <th>NOMBRES</th>
    <th>APELLIDOS</th>
    <th>FECHA DE NAC.</th>
    <th>ACTIVO</th>
    <th>HIJOS</th>

  </thead>
  <tbody>
    <tr *ngFor="let cliente of clientes">
      <td>
        <button [routerLink]="'/cliente/update/'+cliente.cedula" class="btn btn-sm btn-warning">
          <i class="fa fa-edit"></i>
        </button>
        <app-delete [cedula]="cliente.cedula"></app-delete>
      </td>
      <td>{{cliente.cedula}}</td>
      <td>{{cliente.nombre}}</td>
      <td>{{cliente.apellido}}</td>
      <td>{{cliente.fechaNacimiento}}</td>
      <ng-container *ngIf="cliente.esFrecuente; else elseTemplate">
        <td >SI</td>
      </ng-container>
      <ng-template #elseTemplate>
        <td >NO</td>
      </ng-template>


      <td>{{$any(cliente.nHijos)}}</td>

    </tr>
  </tbody>
</table>
